* {
  margin: 0;
  padding: 0;
  box-sizing:border-box
}
button {
  cursor: pointer; 
  border-radius:20px;
  padding: 5px 15px;
  margin: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::placeholder {
  color: white;
}

.select__select {
  width: 150px;
  margin: 10px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 28px;
  font-weight: bold;
  border: 1px solid #444444;
  background-color: lightslategray;
  color: white;
}


.table-container {
  padding: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container__input {
  width: 14rem;
  margin: 10px;
  padding: 8px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 28px;
  font-weight: bold;
  border: 1px solid #444444;
  background-color: lightslategray;
  color: white;
}

.table-container__button {
  border: 1px solid #444444;
  background-color: #00b4d8;
  color: white;
  font-weight: bold;
  padding: 5px 45px;
  font-size: 16px;
}

.table-container__button:hover {
  opacity: .7;
  background-color: #00b4d8;
}

.option-default {
  background-color: #333;
}
