* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top:100px;
  max-width: 1460px;
}

.page__title {
  font-size: 2rem;
  color: #454545;
}
